<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Spring MVC sample</title>
<link href="" th:href="@{/css/bootstrap.css}" type="text/css"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<style>
.custom {
	color: green;
}

.custom:hover {
	color: red;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("span").click(function() {
			var postData = {
				"id" : $(this).attr("id")
			}
			console.log(postData);
			$.ajax({
				type : 'POST',
				contentType : 'application/json; charset=utf-8',
				dataType : 'json',
				url : '/rating',
				data : JSON.stringify(postData),
				mimeType: 'application/json',
				success : function(result) {
					console.log('success:'+result);
				},
				error : function(exception) {
					console.log('Exeption:' + exception);
				}
			});
		});
	});
</script>
</head>
<body class="home">
	<h1 th:text="${message}">Welcome</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>GPA</th>
				<th>EDIT</th>
				<th>REMOVE</th>
				<th>RATING</th>
			</tr>
		</thead>
		<tbody th:each="student : ${students}">
			<tr>
				<td th:text="${student.name}"></td>
				<td th:text="${student.gpa}"></td>
				<td><a th:href="@{/edit(id=${student.id})}">edit</a></td>
				<td><a th:href="@{/remove(id=${student.id})}">delete</a></td>
				<td><span th:text="${student.rating}"></span> <span
					th:id="${student.id}" class="glyphicon glyphicon-heart custom"
					aria-hidden="true"></span></td>
			</tr>
		</tbody>
	</table>
	<a href="/add">Add another student</a>
	<a href="/sortByName">Sort by name</a>
	<a href="/sortByGpa">Sort by Gpa</a>
</body>
</html>